.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj
Sync*
functions.xlsx
packages.Rmd.RData
packages.xlsx
render_tables.R
docs/HowDoI.Rmd
docs/_site/
docs/functions.Rmd
docs/booklinks.Rmd
docs/packages.Rmd
docs/index.Rmd
index.Rmd
RbookEditing.efu
R4JournalismBook.Rproj
docs/test/
_site.yml
docs/_site.yml
docs/_data/
_config.yml
docs/_config.yml
ga_script.html
docs/packages.md
packages.md
GEMFILE
Updates.md
HowDoI.Rmd
functions.Rmd
packages.Rmd


