---
---

@import "{{ site.theme }}";

.navlinks a:link {
  color: white;
}
.navlinks a:visited {
  color: white;
}
navlinks a:hover {
  color: white;
}

.navlinks p {
  color: white;
}

#project_title {
  margin: 0;
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  text-shadow: #111 0px 0px 10px;
}